*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
 
}
.container{
  background-color: white;
  height: 100%;
  width: 100%;
  padding: 10px 20px;
  margin: 0 auto ;
}
.header{
  background-color:white;
  height: 30px;
  width: 948px;
  display: flex;
  justify-content: space-between;
  padding:20px 0;
  
  
}
.menu{
  background-color: pink;
  padding: 20px;
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
}
.price{
  color:deeppink;
}
.banner-button{
  background-color: deeppink;
  color:white;
  border: none ;
  width: 90px;
  height: 25px;
}
.hits{
  height: 180px;
  width: 220px;
  display: flex;
  justify-content: center;
}
.aside{
  height: 100%;
  width: 100%;
  
 
  
  
}
.image-box{
  height: 30px;
  width: 50px;
  
  display: flex;
  justify-content: center;
  
  
}
.common{
  
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.watch{
  height: 100%;
  padding: 20px;
  background-color: orange;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}
.bag{
  height: 100%;
  padding: 20px;
  width: 300px;
  background-color: deeppink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.shoes{
  height: 100%;
  padding: 20px;
  width: 300px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}
.a{
  height: 30px;
  width: 50px;
  background-color: deeppink;
  display: flex;
  justify-content: flex-end;
}
.b{
  
  height: 500px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.c{
 
  height: 90%;
  width: 300px;
border: solid;
}
.d{
  
  height: 90%;
  width: 300px;
  border: solid;
}
.e{
  height:90%;
  width: 300px;
  border: solid;
}
.image{
  padding: 10px;
  height: 90%;
  width: 300px;
  text-align: center;
  justify-content: center;
}
.shoe-btn{
 
  background-color:black;
  color:white;
  padding: 10px 20px;
  border: none;
  text-align: center;
  margin-bottom: 20px
}
.f{
  
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}
.g{
  
  height: 90%;
  width: 300px;
  border: solid;
}
.h{
  
height: 90%;
width: 300px;
border: solid;
}
.i{
 
  height: 90%;
  width: 300px;
  border: solid;
}
.bag-btn{
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border:none;
}
.santo{
  background-color: pink;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap:20px;
 justify-content: center;
  align-items: center;
  padding: 100px 150px;
  margin:50px 0;
}
.santo h1{
  text-transform:uppercase;
}
.santo p{
  margin: 10px 0;
  color: gray;
}
.santo form{
  display: flex;
}
#email{
  padding: 10px;
  border:none;
  border-radius: 5px 0 0 5px;
}
.btn-send{
  width: 70px;
  border: none;
  color: white;
  background-color: deeppink;
}