*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
 
}
.container{
  background-color: white;
  height:100%;
  width:100%;
  padding:20px 20px;
  margin:0 auto ;
}
.header{
 background-color: white;
 justify-content: space-between;
 width:100%;
 display:flex;
 vertical-align:bottom;
 padding-bottom:5px;
 
 
  
  
  
}
.menu{
  background-color: pink;
  padding:10px;
  height:300px;
  width:100%;
  display: flex;
  align-items: center;
}
.price{
  color:deeppink;
}
.banner-button{
  background-color: deeppink;
  color:white;
  border: none ;
  width:60px;
  height:20px;
}
.hits{
  height:160px;
  width:200px;
  display: flex;
  justify-content: center;
}
.aside{
  height:100%;
  width:100%;
  
 
  
  
}
.image-box{
  height:35px;
  width:35px;
  
  display: flex;
  justify-content: center;
  
  
}
.common{
  
  height:50px;
  width:100%;
  display: flex;
  justify-content: space-around;
  gap:10px;
  
  
}
.watch{
  height:40px;
  padding:10px;
  background-color: orange;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}
.bag{
  height:40px;
  padding:10px;
  width:100%;
  background-color: deeppink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.shoes{
  height:40px;
  padding:10px;
  width:100%;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
}
.a{
  height:245px;
  width:100%;
  background-color: deeppink;
  display:flex;
  justify-content:flex-end;
  gap:10px;
}

.b{
  
  height:245px;
  width:100%;
  display: flex;
  justify-content: space-between;
  gap:10px;
  border: none;
  
}
.c{
  
  height:245px;
  width:100%;
  border: solid;
}
.d{
  
height:245px;
width:100%;
border: solid;
}
.e{
 
  height:245px;
  width:100%;
  border: solid;
}
.image{
  padding:5px;
  height:60px;
  width:100%;
  text-align: center;
  justify-content: center;
  margin-bottom:5px;
}
.shoe-btn{
 
  background-color:black;
  color:white;
  padding:5px 5px;
  border: none;
  text-align: center;
  margin-bottom:5px;
  width:75px;
  height:25px;
  justify-content: space-between;
}
.f{
  
  height:245px;
  width:100%;
  display: flex;
  justify-content: space-between;
  gap:10px;
  border: none;
  
}
.g{
  
  height:245px;
  width:100%;
  border: solid;
}
.h{
  
height:245px;
width:100%;
border: solid;
}
.i{
 
  height:245px;
  width:100%;
  border: solid;
}
.bag-btn{
  background-color: black;
  color: white;
  padding:5px 5px;
  margin-bottom:5px;
  border:none;
  width:75px ;
  height:25px ;
  justify-content: space-between;
}
.santo{
  background-color: pink;
  height:300px;
  display: flex;
  flex-direction: column;
  gap:10px;
 justify-content: center;
  align-items: center;
  padding:25px 50px;
  margin:20px 0;
}
.santo h3{
  text-transform:uppercase;
}
.santo p{
  margin:5px 0;
  color: gray;
}
.santo form{
  display: flex;
}
#email{
  padding:10px;
  border:none;
  border-radius:5px 0 0 5px;
}
.btn-send{
  width:70px;
  border: none;
  color: white;
  background-color: deeppink;
}