* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 1140px;
    height: 250px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.banner-container{
    display: flex; 
    background-color: pink;
    border-radius: 20px;
    margin-bottom: 20px;
}
.left-banner-section{
    padding: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    gap: 20px;
    width: 55%;
}
.left-banner-section p{
    color: gray;
}
.price{
    color: #ff1b74;
    
}
.banner-btn,
.shoe-btn,
.backpack-btn{
    width: 150px;
     padding: 10px 40px;
    background-color: hotpink;
    color: white;
    border-radius: 5px; 
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.right-banner-section{
    padding: 50px;
    width: 40%;
    padding-right: 0;
    
}
.hero-tv{
    width: 100%;
}
.category-heading,
.shoe-heading,
.backpack-heading {
    margin: 30px 0;
    
    
}
.category-section,
.shoe-section,
.backpack-section{
    width: 100%;
    
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:10px
}

.card{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 33%;
    justify-content: space-between;
    padding: 10px 20px;
   
    
}
.watch{
    background-color: orange;
     color: white;
}
.bag{
    background-color: deeppink; color: white;
}
.shoe{
    background-color: blue; 
    color: white;
}
.shoe-card, .backpack-card{
    flex-direction: column;
    border: 2px solid gray;
    gap: 20px;
    border-radius:10px ;
}
.shoe-card p ,
.backpack-card p{
    text-align: center;
}
.shoe-btn, .backpack-btn{
    background-color: black;
       padding: 10px 20px;
    margin-bottom: 20px;
}
.newsletter-container{
    flex-direction: column;
    gap: 20px;
    padding: 100px 150px;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.newsletter-container h1{
    text-transform: uppercase;
}
.newsletter-container p{
    margin: 10px 0;
    color: gray;
}
.newsletter-container form{
    display: flex ;
    
}
#email{ 
    border :none;
    background-color: white;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}
.btn-sent{
    width: 70px;
    border: none;
    background-color: deeppink;
    border-right: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}       



@media screen and (max-width:576px) 
{
    .main-container{
        max-width: 350px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    
    .left-banner-section{
        width: 100%;
    }
    .right-banner-section{
        width: 100%;
        padding: 10px;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .newsletter-container{
        padding: 50px 0;
        flex-direction: column;
    }
    
    
    
}* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
    width: 1140px;
    height: 250px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.banner-container{
    display: flex; 
    background-color: pink;
    border-radius: 20px;
    margin-bottom: 20px;
}
.left-banner-section{
    padding: 50px;
     display: flex;
     flex-direction: column;
     justify-content: center;
    gap: 20px;
    width: 55%;
}
.left-banner-section p{
    color: gray;
}
.price{
    color: #ff1b74;
    
}
.banner-btn,
.shoe-btn,
.backpack-btn{
    width: 150px;
     padding: 10px 40px;
    background-color: hotpink;
    color: white;
    border-radius: 5px; 
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.right-banner-section{
    padding: 50px;
    width: 40%;
    padding-right: 0;
    
}
.hero-tv{
    width: 100%;
}
.category-heading,
.shoe-heading,
.backpack-heading {
    margin: 30px 0;
    
    
}
.category-section,
.shoe-section,
.backpack-section{
    width: 100%;
    
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap:10px
}

.card{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 33%;
    justify-content: space-between;
    padding: 10px 20px;
   
    
}
.watch{
    background-color: orange;
     color: white;
}
.bag{
    background-color: deeppink; color: white;
}
.shoe{
    background-color: blue; 
    color: white;
}
.shoe-card, .backpack-card{
    flex-direction: column;
    border: 2px solid gray;
    gap: 20px;
    border-radius:10px ;
}
.shoe-card p ,
.backpack-card p{
    text-align: center;
}
.shoe-btn, .backpack-btn{
    background-color: black;
       padding: 10px 20px;
    margin-bottom: 20px;
}
.newsletter-container{
    flex-direction: column;
    gap: 20px;
    padding: 100px 150px;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.newsletter-container h1{
    text-transform: uppercase;
}
.newsletter-container p{
    margin: 10px 0;
    color: gray;
}
.newsletter-container form{
    display: flex ;
    
}
#email{ 
    border :none;
    background-color: white;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}
.btn-sent{
    width: 70px;
    border: none;
    background-color: deeppink;
    border-right: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}       



@media screen and (max-width:576px) 
{
    .main-container{
        max-width: 350px;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    
    .left-banner-section{
        width: 100%;
    }
    .right-banner-section{
        width: 100%;
        padding: 10px;
    }
    .cards{
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .newsletter-container{
        padding: 50px 0;
        flex-direction: column; 
    }
    
    
    
}